



<h3 class="text-left flight-header"> Search Result </h3>
<hr>
<% if !@search_result.empty? %>
<% for flight in @search_result %>
<div class="col-md-3">
          <!--Image Card-->
          <% price = flight.price %>
          <div class="card hoverable">
              <div class="card-image">
                  <div class="view overlay hm-white-slight z-depth-1">
                      <a href="#">
                          <div class="mask waves-effect"></div>
                      </a>
                  </div>
              </div>
              <div class="card-content">
                  <p><%= flight.from.country %> to <%= flight.to.country %></p>
                  </div>
              <div class="card-content">
                <p> Price </p>
                  <%= number_to_currency(price, locale: :ng) %>
                  </div>
              <div class="card-content">
                  <p>Departure Date</p>
                  <p><span class="glyphicon glyphicon-calendar"></span> <%= flight.dept_date %></p>
                  </div>
              <!--Buttons-->
              <div class="card-btn text-center">
                  <% booking_details = {:id =>flight.id} %>
                  <a class="btn btn-primary btn-md waves-effect waves-light" id="bkfl" href="<%= new_booking_path(booking_details) %>"> Book</a>
              </div>
              <!--/.Buttons-->
          </div>
          <!--Image Card-->
      </div>
      <% end %>
  <% else %>
  <p> There are no Flights that matches Your search. Try to search again </p>
  <% end %>
