
<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
      <h1 class="text-left"><%=@flight.airplane.airline.name%></h1>
        <table class="table table-hover">
         <tbody>
            <tr>
              <th>Departure Airport</th>
              <td class=""><%= @flight.from.name%></td>
          </tr>

          <tr>
            <th>Arrival Airport</th>
            <td class=""><%= @flight.to.name%></td>
          </tr>

          <tr>
            <th>Airplane Name</th>
            <td class=""><%= @flight.airplane.name %></td>
          </tr>

          <tr>
            <th>Flight Code</th>
            <td class=""><%= @flight.flight_code%></td>
          </tr>

          <tr>
            <th>Number of Passenger</th>
            <td class="pass "><%= @number_of_passengers%></td>
          </tr>

          <tr>
            <th>Price Per Passenger</th>
            <td class=""><%= @flight.price %></td>
          </tr>
         </tbody>
        </table>
      </div>
      <div class="col-lg-5">
        <h1 class="text-left">Add Passengers</h1>
        <%= render 'partials/booking_form' %>
      </div>
    </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  <hr>
</div>
