<div id="intro">
  <div class="container">
    <div class="row">
      <h3 class="text-center">Your Flight Has been successfully Booked.</h3>
      <h4 class="text-center">Here are your Flight Details</h4>

      <div class="col">

          <table class="table table-hover">

 <tbody>
    <tr>
      <th>Departure Airport</th>
      <td><%= @flight.from.name%></td>
  </tr>

  <tr>
    <th>Arrival Airport</th>
    <td><%= @flight.to.name%></td>
  </tr>

  <tr>
    <th>Airline Name</th>
    <td><%=@flight.airplane.airline.name%></td>
  </tr>
  <tr>
    <th>Airplane Name</th>
    <td><%= @flight.airplane.name %></td>
  </tr>
  <tr>
  <tr>
    <th>Booking Confirmation Code</th>
    <td><%= @booking.confirmation_code %></td>
  </tr>
  <tr>
    <th>Departure Date</th>
    <td><%=@flight.dept_date %></td>
  </tr>
  <tr>
    <th>Departure Time</th>
    <td><%=@flight.dept_time %></td>
  </tr>

  <tr>
    <th>Number of Passenger</th>
    <td><%= @booking.passengers.count %></td>
  </tr>

  <tr>
    <th>Price Per Passenger</th>
    <td><%= @flight.price %></td>
  </tr>

  <tr>
    <th>Total cost </th>
    <td><%= @flight.price.to_i * @booking.passengers.count.to_i %></td>
  </tr>

 </tbody>
</table>

      </div>

    </div>
</div>
</div>
