  <p> Welcome to Airstroll</p>

  <div class = "trip"> Where do you want to go? </div>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
  <%= form_tag({controller: "home", action: "search"}, method: "post", class: "search_form", remote: true) do %>
  <label>Flight Origin</label>
  <select name="flight[from]" id="from_airport">
    <%= render 'home/airport_list'%>
  </select>
  <br />
  <label>Flight Destination</label>
  <select name="flight[to]" id="to_airport">
    <%= render 'home/airport_list'%>
  </select>
  <br />
  <label>Departure date</label>
  <input id="departure_date" name="flight[date]" type="date" class="date-picker"/>
  <br />
  <label>No of passenger</label>
  <select name="flight[no_of_passenger]" id="to_airport">
    <% (1..10).to_a.each do |i|%>
    <option value="<%= i %>"><%= i %></option>
    <% end %>
  </select>
  <br />
  <div class="row div-pad">
    <div class="col-sm-12">
      <%= button_tag(type: "submit", class: "btn  orange-button") do %>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search<% end %>
    </div>
  </div>
  <% end %>
  <div id = "flight-result">
    
  </div>
